.container {
  background-color: var(--color-background-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-left {
  display: flex;
  align-items: left;
  justify-content: left;
}

.align-right {
  display: flex;
  align-items: right;
  justify-content: right;
}
