.cardContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 50rem;
  min-width: 28rem;
  background-color: var(--color-background-2);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--color-transparent-1);
  padding: 2rem;
}
